[include]
    path = ~/.gitconfig-local
    path = ~/.dotfiles/git/git-aliases
[core]
    editor = vim
    excludesfile = ~/.dotfiles/git/gitignore-global
[user]
    name = Jason Sydes
[color]
    ui = true
[log]
    # All timestamps appear in my local timezone, no matter where they were made.
    date = local

# Mac-specific settings (hack relying upon /Users only being on Macs)
[includeIf "gitdir:/Users/"]
    path = ~/.dotfiles/git/gitconfig-mac

# Linux/WSL-specific settings (hack relying upon /home only being on Linux/WSL)
[includeIf "gitdir:/home/"]
    path = ~/.dotfiles/git/gitconfig-linux

[pull]
    # Only pull if fast-forward is possible.
    # Fails if diverged, forces me to decide merge vs rebase explicitly
    # git config --global pull.ff only
    ff = only
